<% @songs.each do |song| %>
  <div class="song">
    <ul>
      <li><%= song.name %></li>
      <li><%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %></li>
    </ul>
  </div>
<% end %>
